@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*--background: #ffffff;
  --foreground: #171717; */
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.cursor {
  animation: blink 1s infinite;
}